/*body {
background-color:rgb(0,0,0);
background-image:url(http://www.zingerbugimages.com/backgrounds/white_marble_background_seamless.jpg);
background-position:top left;
background-repeat:repeat;background-attachment:fixed;
}*/

* {
	box-sizing: border-box;
}




body {
  background: #d7faf6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #d7faf6 , #1c5767); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #d7faf6, #1c5767); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #d7faf6, #1c5767); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #d7faf6 , #1c5767); /* Standard syntax */
}




@font-face {
    font-family: oranienbaum;
    src: url('Fonts/Oranienbaum.ttf');
}

@font-face {
    font-family: adamas;
    src: url('Fonts/Adamas-Regular.otf');
}

@font-face {
    font-family: ailerons;
    src: url('Fonts/Ailerons-Typeface.otf');
}

@font-face {
    font-family: anders;
    src: url('Fonts/Anders.ttf');
}

@font-face {
    font-family: Azedo-Bold;
    src: url('Fonts/Azedo-Bold.otf');
}

@font-face {
    font-family: Azedo-Light;
    src: url('Fonts/Azedo-Light.otf');
}

@font-face {
    font-family: High Tide Sans-serif;
    src: url('Fonts/HighTide Sans.otf');
}

@font-face {
    font-family: High Tide;
    src: url('Fonts/HighTide.otf');
}

@font-face {
    font-family: Manifesto;
    src: url('Fonts/MANIFESTO.ttf');
}

@font-face {
    font-family: Metropolis;
    src: url('Fonts/Metropolis 1920.otf');
}

body {
font-size: 16px;
	font-family: oranienbaum;
}

.header {
	background-image:url(http://www.zingerbugimages.com/backgrounds/white_marble_background_seamless.jpg);
	margin: 2%;
	height: 250px;
    padding-top: 2%;
    border: 10px solid white;
}



.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
		margin: 0 2rem;
}

#title {
	font-family: ailerons;
    letter-spacing: 2rem;
    text-align: center;
    font-size: 150px;
    color: white;
    margin: 0 auto;
    background-color: #e5b0ac;
    width: 50%;
}

h1:hover {
background-image:url(Gifs/fish.gif);
}

.image {
display: inline-block;
margin-bottom: 10%;
}

.image img {
	    border: 40px solid white;
	width: 100%;
    -webkit-transition: border 1s; 
    transition: border 1s;

}

.image img:hover {
	border: 20px solid white;
}

#image1 {
	width: 30%;/*
	animation: rotate 10s infinite linear;*/

}

#image1 .animation {
	
/*	animation: rotate 10s infinite linear;*/
	
}

@keyframes rotate {
	 0% {transform: rotate(0deg);}
	50% {transform: rotate(-30deg);}
	100% {transform: rotate(0deg);}
}

@keyframes rotate2 {
	 0% {transform: rotate(0deg);}
	50% {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}

@keyframes goMad {
	 0% {transform: translate(-100px); opacity: 0; border: 6px solid pink; padding:120px; position: fixed; top:35vh;}
	50% {transform: translate(300px); opacity: 1; border: 13px dashed green; padding:10px; position: fixed; right:35vh; top: 78px;}
	100% {transform: rotate(720deg); opacity: .5; border: 20px dashed black; padding:10px; position: fixed; bottom:35vh;}
}


#image1 {
    margin-top: 1.5%;

}

#image1.enlarge {
	width: 50%;
	margin: 0 auto;
	margin-top: 4%;

}



#image2 {
	width: 40%;
	float: right;
	    margin-top: 1.5%;
	/*animation: goMad .5s infinite;*/
}

#image2 img {
    float: right;

}

#image2 img:hover {
   border-color: #e6ebef;
   border-width: 0px 80px 150px 80px;
   border-style: solid;
}

#image2.enlarge2 {
	width: 70%;
	margin: 0 auto;
	margin-top: 9%;
}


.text {
	width: 20%;
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    opacity: 0.6;
    height: 50%;
}


.text p {
	margin: 30%;
	font-family: 'avenir';
}

    .mobile-text {
display: inline-block;
    margin: 0 auto;
    background-color: white;
    opacity: 0.6;
    	margin-top: 2%;
    	margin-left: 0%;
    	padding-left: 4%;
    	width: 100%;
    	font-family: 'avenir';
    }


#image3 {
	width: 50%;
	float: left;
	margin-top:5%;
}

#image3.enlarge3 {
	width: 60%;
	margin: 0 auto;
	margin-top: 6%;
}

#image3 img {
    float: right;
}

#image4 {
	width: 43%;
	float: left;
	margin-top: 30%;
}

#image4.enlarge4 {
	width: 45%;
	margin: 0 auto;
	margin-top: 2%;
}


#image5 {
	width: 40%;
	float: right;
	margin-top: -15%;
}

#image5.enlarge5 {
	width: 43%;
	margin: 0 auto;
	margin-top: 2%;
}

#image6 {
	width: 40%;
	float: left;
	margin-top: 30%;

}

#image6.enlarge6 {
	width: 65%;
	margin: 0 auto;
	margin-top: 6%;
}

#bubbles {
	position: absolute;
	width: 10%;	
	margin-top: 10%;
		margin-left: 40%
}

#pop {
    position: absolute;
    width: 32%;
    margin-left: 29%;
}



#wavesbig {
	position: absolute;
	width: 15%;	
	margin-top: 35%;
		margin-left: 10%
}

#raindrops {
	position: absolute;
	width: 15%;
    margin-top: 45%;
    margin-left: 55%;
    animation: rotate 7s infinite linear;
}

#dropsil {
	position: absolute;
	width: 15%;
    margin-top: 95%;
    margin-left: 35%;
    animation: rotate 10s infinite linear;
}

#water {
	position: absolute;
    width: 5%;
    margin-top: 170%;
    margin-left: 5%;
    animation: rotate2 5s infinite linear;
}

#bubbles2 {
	position: absolute;
	width: 8%;
    margin-top: 135%;
    margin-left: 55%;
    animation: rotate 20s infinite linear;
}

#pop2 {
    position: absolute;
    width: 20%;
    margin-top: 129%;
    margin-left: 49%;
    animation: rotate 20s infinite linear;
}

#bubbles3 {
    position: absolute;
    width: 13%;
    margin-top: 186%;
    margin-left: 78%;
    transform: rotate(30deg);
}

#pop3 {
    position: absolute;
    width: 40%;
    margin-top: 173%;
    margin-left: 64%;
    transform: rotate(30deg);
}

#waves {
	position: absolute;
	width: 10%;
    margin-top: 180%;
    margin-left: 55%;
    animation: rotate 15s infinite linear;
}

#drop {
	position: absolute;
	width: 3%;
    margin-top: 86%;
    margin-left: 20%;

}

#drop2 {
	position: absolute;
    width: 4%;
    margin-top: 95%;
    margin-left: 0%;

}

.arrow-left {
  display: inline-block;
width: 130px;
height: 130px;
  background-image: url(icons/leftbefore.png);
  background-size: cover;
  position: fixed;
 opacity: 0.7;
    margin: 0 auto;
    bottom: 40%;
    left: 3%;
}

.arrow-left:hover {
background-image: url(icons/lefthover.png);
 background-size: cover;
}

.arrow-right {
  display: inline-block;
width: 130px;
height: 130px;
  background-image: url(icons/rightbefore.png);
  background-size: cover;
  position: fixed;
 opacity: 0.7;
    margin: 0 auto;
    bottom: 40%;
    right: 3%;
}

.arrow-right:hover {
background-image: url(icons/righthover.png);
 background-size: cover;
}

/* BACK TO TOP BUTTON */

.cd-top {
  display: inline-block;
width: 130px;
height: 130px;
  background-image: url(icons/WaterPip-01.png);
  background-size: cover;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: fixed;
  bottom: 0;
  right: 0;
  /* image properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border-radius: 100%; /* Creates circular button. Remove line to create square button */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 0.7;
}
.cd-top.cd-fade-out {
  opacity: .5;
}

.cd-top-home:hover {
  background-image: url(icons/WaterPip-02.png);
  background-size: cover;
}

/* Back to top button animation - moves up and down */
.cd-top:hover, .cd-top:focus, .cd-top:active {
  -webkit-animation-name: cd-top-float, cd-top;
  animation-name: cd-top-float, cd-top;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@-webkit-keyframes cd-top {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes cd-top {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes cd-top-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes cd-top-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
/* End of animation */
/* END OF BACK TO TOP BUTTON */



@media screen and (max-width: 1180px) {
    #title {
        font-size:130px;
    }
    	.text p {
		margin-top:10%;
	}
}

@media screen and (max-width: 1075px) {
    #title {
        font-size:120px;
    }

    .header {
    	padding-top: 2%;
    }
    .image img {
	    border: 30px solid white;
	}
	.text p {
		font-size: 16px;
	}
}

@media screen and (max-width: 1000px) {
    #title {
        font-size:100px;
    }

    .header {
    	padding-top: 5.5%;
    }
    .image img {
	    border: 20px solid white;
	}
	.text p {
		font-size: 14px;
	}
}

@media screen and (max-width: 885px) {
    #title {
        font-size:90px;
        width: 60%;
    }

    .header {
    	padding-top: 7.5%;
    }
    .image img {
	    border: 15px solid white;
	}
}

@media screen and (max-width: 850px) {

    #image1, #image2, #image3, #image4, #image5, #image6, .text  {
	    width: 100%;
	    margin-top: 5%;
	}

}

@media screen and (max-width: 700px) {

    #title  {
	    font-size: 60px;
    width: 90%;
    letter-spacing: 1.5rem;
	}

	.header {
    	height: 200px;
    	padding-top: 13%;
    }

    .text p {
    	margin: 1%;
    	width: 100%;
    }

    .text {

    	margin-top: 2%;
    	margin-left: 0%;
    	width: 100%;
    }

    #image1.enlarge {
	width: 100%;
	margin: 0 auto;
	margin-top: 30%;

}

    #image2.enlarge2 {
	width: 100%;
	margin: 0 auto;
	margin-top: 30%;

}

    #image3.enlarge3 {
	width: 100%;
	margin: 0 auto;
	margin-top: 30%;

}

    #image4.enlarge4 {
	width: 100%;
	margin: 0 auto;
	margin-top: 10%;

}

    #image5.enlarge5 {
	width: 100%;
	margin: 0 auto;
	margin-top: 10%;

}

    #image6.enlarge6 {
	width: 100%;
	margin: 0 auto;
	margin-top: 50%;

}

.arrow-left {

    margin: 0 auto;
    bottom: 0%;

}

.arrow-right {

    bottom: 0%;
}

}

.hide {
	display: none;
}

