/*body {
background-color:rgb(0,0,0);
background-image:url(http://www.zingerbugimages.com/backgrounds/white_marble_background_seamless.jpg);
background-position:top left;
background-repeat:repeat;background-attachment:fixed;
}*/

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
  background: #d7faf6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #d7faf6 , #dfb9b4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #d7faf6, #dfb9b4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #d7faf6, #dfb9b4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #d7faf6 , #dfb9b4); /* Standard syntax */
}


body {
  background: #d7faf6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #d7faf6 , #1c5767); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #d7faf6, #1c5767); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #d7faf6, #1c5767); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #d7faf6 , #1c5767); /* Standard syntax */
}

/*body{
	background-color:rgb(0,0,0);
	background-image:url(http://www.zingerbugimages.com/backgrounds/green_marble.jpg);
	background-position:top left;
	background-repeat:repeat;
	background-attachment:fixed;
}*/

@font-face {
    font-family: oranienbaum;
    src: url('Fonts/Oranienbaum.ttf');
}

@font-face {
    font-family: adamas;
    src: url('Fonts/Adamas-Regular.otf');
}

@font-face {
    font-family: ailerons;
    src: url('Fonts/Ailerons-Typeface.otf');
}

@font-face {
    font-family: anders;
    src: url('Fonts/Anders.ttf');
}

@font-face {
    font-family: Azedo-Bold;
    src: url('Fonts/Azedo-Bold.otf');
}

@font-face {
    font-family: Azedo-Light;
    src: url('Fonts/Azedo-Light.otf');
}

@font-face {
    font-family: High Tide Sans-serif;
    src: url('Fonts/HighTide Sans.otf');
}

@font-face {
    font-family: High Tide;
    src: url('Fonts/HighTide.otf');
}

@font-face {
    font-family: Manifesto;
    src: url('Fonts/MANIFESTO.ttf');
}

@font-face {
    font-family: Metropolis;
    src: url('Fonts/Metropolis 1920.otf');
}

body {

	font-family: oranienbaum;
}

.header {
	background-image:url(http://www.zingerbugimages.com/backgrounds/white_marble_background_seamless.jpg);
	margin: 2%;
	height: 250px;
    padding-top: 2%;
    border: 10px solid white;
}



.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
		margin: 0 2rem;
}

h1 {
	font-family: ailerons;
    letter-spacing: 2rem;
    text-align: center;
    font-size: 150px;
    color: white;
    margin: 0 auto;
    background-color: #dfb9b4;
    width: 50%;
}

h1:hover {
background-image:url(Gifs/fish.gif);
}

.image1 {
	width: 30%;
	display: inline-block;

}

.image1 img {
	width: 100%;
    border: 40px solid white;
    margin-top: 5%;
    	-webkit-transition: border 1s; 
    transition: border 1s;

}

.image1 img:hover {
	border: 20px solid white;


}

.image2 {
	width: 40%;
	display: inline-block;
	float: right;
}

.image2 img {
	width: 100%;
    border: 40px solid white;
    margin-top: 5%;
    float: right;
        	-webkit-transition: border 1s; /* Safari */
    transition: border 1s;
}

.image2 img:hover {
	border: 20px solid white;


}

.text {
	width: 20%;
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    opacity: 0.6;
    margin-top: 1.5%;
    margin-left: 5%;
}

.text p {
	margin: 0 auto;
	width: 65%;
	margin-top: 30%;
}

.image3 {
	width: 40%;
	display: inline-block;
	float: left;
	margin-top:5%;
}

.image3 img {
	width: 100%;
    border: 40px solid white;

    float: right;
        	-webkit-transition: border 1s; /* Safari */
    transition: border 1s;
}

.image3 img:hover {
	border: 20px solid white;


}

.image4 {
	width: 40%;
	display: inline-block;
	float: left;
}

.image4 img {
	width: 100%;
    border: 40px solid white;
        	-webkit-transition: border 1s; /* Safari */
    transition: border 1s;
}

.image4 img:hover {
	border: 20px solid white;


}

.image5 {
	width: 40%;
	display: inline-block;
	float: right;
	margin-top: -8%;
}

.image5 img {
	width: 100%;
    border: 40px solid white;
        	-webkit-transition: border 1s; /* Safari */
    transition: border 1s;
}

.image5 img:hover {
	border: 20px solid white;


}

.image6 {
	width: 40%;
	display: inline-block;
	float: left;
	margin-top: 5%;
}

.image6 img {
	width: 100%;
    border: 40px solid white;
        	-webkit-transition: border 1s; /* Safari */
    transition: border 1s;
}

.image6 img:hover {
	border: 20px solid white;


}

